table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
    margin-bottom: 5%;    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
