table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
    margin-bottom: 5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.homeButton {
    font-size: 300%;
}

 .listOfTables { text-align: center; list-style-position:inside;  list-style: none;}

 .listOfTables > li {
   margin:1% auto;
 }

#form {
  width:50%;
  /*text-align:center;*/
  margin:0 auto;
}

div#report {
  width: 50%;
  height: 30px;
  margin: 0 auto;
}
